[client]
port		= 3306
socket		= /tmp/mysql.sock

[mysqld]
port		= 3306
socket		= /tmp/mysql.sock
skip-external-locking
skip-name-resolve
key_buffer_size = 384M
max_allowed_packet = 100M
max_connections = 1024
max_connect_errors = 10
table_open_cache = 512
sort_buffer_size = 2M
read_buffer_size = 2M
read_rnd_buffer_size = 8M
myisam_sort_buffer_size = 64M
thread_cache_size = 8
query_cache_size = 128M
thread_concurrency = 4

character-set-server=utf8
init_connect = "SET NAMES utf8"
#default-time-zone = '+8:00'

lower_case_table_names=1
wait_timeout=1814400
innodb_file_per_table 
thread_stack = 512K

#server-id	= 1
#auto_increment_offset = 1
#auto_increment_increment = 2

#ignore to replicate
binlog-ignore-db=mysql
binlog-ignore-db=test
binlog-ignore-db=information_schema
binlog-ignore-db=performance_schema

#Replication Master
log-bin=mysql-bin.log
binlog_format=mixed
expire_logs_days = 14
max_binlog_size = 512M

# Replication Slave
relay-log-index=slave-relay-bin.index
relay-log=slave-relay-bin.log

[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash
default-character-set=utf8

[myisamchk]
key_buffer_size = 256M
sort_buffer_size = 256M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout

[mysqld_safe]
open-files-limit = 10240