<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ipet"
    android:versionCode="1"
    android:versionName="0.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.ipet.android.MyApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@style/IPetTheme"
        android:theme="@style/IPetBaseTheme" >
        <activity
            android:name="com.ipet.android.ui.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/IPetTheme.NoTitleBar.FullScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ipet.android.ui.GuideActivity"
            android:label="@string/title_activity_guide"
            android:theme="@style/IPetTheme.NoTitleBar.FullScreen" >
        </activity>
        <activity
            android:name="com.ipet.android.ui.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/IPetTheme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ipet.android.ui.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/IPetTheme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ipet.android.ui.WelcomeRegisterOrLoginActivity"
            android:label="@string/title_activity_welcome_register_or_login"
            android:theme="@style/IPetTheme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ipet.android.ui.SetUserInfoActivity"
            android:label="@string/title_activity_set_user_info"
            android:theme="@style/IPetTheme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ipet.android.ui.SetUserNickNameActivity"
            android:label="@string/title_activity_set_user_nick_name"
            android:theme="@style/IPetTheme.NoTitleBar"  >
        </activity>
    </application>

</manifest>
